.dropdown-select__input,
.dropdown-select__input:focus {
  border: none;
  outline: none;
}

.dropdown-select__input {
  box-sizing: border-box;
  height: 36px;
  font-size: 1rem;
  padding: 6px 37px 6px 12px;
  border-radius: 0.25rem;
}
