.dropdown-select {
  width: 100%;
  position: relative;

  .dropdown-select__container {
    position: relative;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

    @import './input';
    @import './arrow';
    @import './select_deselect_all';
    @import './spinner';
  }
  @import './options';
}

.dropdown-select--focused {
  border-color: #80bdff;
}
